@tailwind base;
@tailwind components;
@tailwind utilities;

.webkit-app-region-no-drag {
  -webkit-app-region: no-drag;
}

.webkit-app-region-drag {
  -webkit-app-region: drag;
}

/*
 * BASIC STYLES
 */

/* Custom scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: #000000;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  background: rgb(24, 24, 24);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

table {
  table-layout: fixed;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-corner {
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255))
}

::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.app {
  -webkit-user-select: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  background: rgb(20, 20, 20);
  animation: fadein 0.5s;
}

.app:not(.is-focused) {
  background: rgb(20, 20, 20);
}

/*
 * HEADER
 */

.header {
  width: 100%;
  min-height: 56px;
  /* vertically center OS menu buttons (OS X) */
  padding-top: 7px;
  overflow: hidden;
  flex: 0 1 auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  font-size: 14px;
  line-height: 1.5em;
  z-index: 9000;
}

.app.view-player .header {
  border-bottom: none;
}

.app.view-player.is-win32 .header,
.app.view-player.is-linux .header {
  background: none;
}

.app.hide-video-controls.view-player .header {
  opacity: 0;
  cursor: none;
}

.header .title {
  opacity: 0.7;
  position: absolute;
  margin-top: 1px;
  padding: 0 150px 0 150px;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.header .nav {
  font-weight: bold;
}

.header .nav.left {
  margin-left: 10px;
}

.header .nav.right {
  margin-right: 10px;
}

.app.is-darwin:not(.is-fullscreen) .header .nav.left {
  margin-left: 78px;
}

.header .back,
.header .forward {
  font-size: 30px;
  margin-top: -3px;
}